---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
  <div class="max-w-2xl mx-auto">
    <h1 class="header">Writing</h1>
    <ul>
      {
        posts.map((post) => (
          <li>
            <FormattedDate date={post.data.pubDate} />
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            <p>{post.data.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>

<style lang="postcss">
  h1.header {
    @apply font-display text-4xl border-b border-black border-opacity-10;
    @apply text-center py-6;
  }

  ul {
    @apply !py-4;

    li {
      @apply py-4 flex flex-col gap-1;

      a {
        @apply block; 
        @apply text-lg font-sans font-bold mb-0 mt-1;
      }

      p {
        @apply opacity-75 text-base;
      }
    }
  }
</style>
