@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/inter/opsz.css";

@plugin "@tailwindcss/typography";

@import "./theme.css";

@layer base {
  :root {
    * {
      @apply border-border;
    }

    h1 {
      @apply font-sans text-5xl font-medium tracking-tight;
    }

    h2 {
      @apply mb-4 border-b py-2 font-sans text-3xl font-medium tracking-tight;
    }

    body {
      @apply flex size-full flex-col font-sans;
      font-optical-sizing: auto;
    }

    p {
      @apply text-secondary-foreground mb-4 block leading-relaxed;

      & > a {
        @apply decoration-secondary text-foreground hover:decoration-primary hover:text-primary underline decoration-dashed underline-offset-4;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: url("/static.png"), var(--color-background);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: url("/static-lm.png"), var(--color-background);
  }
}
