@import "tailwindcss";
@import "@fontsource-variable/fira-code";
@import "@fontsource-variable/inter/opsz.css";

:root {
  --background: var(--color-stone-100);
  --foreground: var(--color-stone-950);
  --muted: var(--color-stone-200);
  --muted-foreground: var(--color-stone-500);
  --border: var(--color-stone-200);
  --input: 0 0% 13%;
  --ring: 0 0% 13%;
  --card: var(--color-white);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: var(--color-amber-700);
  --primary-foreground: var(--color-amber-50);
  --secondary: var(--color-stone-200);
  --secondary-foreground: var(--color-stone-700);
  --accent: var(--muted);
  --accent-foreground: var(--foreground);
  --destructive: 0 84% 60%; /* red */
  --destructive-foreground: 0 0% 100%;
}

@theme {
  /* -------------------------------------------------------------------------- */
  /*                                    Fonts                                   */
  /* -------------------------------------------------------------------------- */
  --font-sans:
    "Inter Variable", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --font-mono: "Fira Code Variable", monospace;
}

@theme inline {
  /* -------------------------------------------------------------------------- */
  /*                                   Colors                                   */
  /* -------------------------------------------------------------------------- */

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  /* -------------------------------------------------------------------------- */
  /*                                   Shadows                                  */
  /* -------------------------------------------------------------------------- */

  --shadow-sm:
    49px 64px 48px --alpha(var(--foreground) / 0.01),
    22px 29px 36px --alpha(var(--foreground) / 0.02),
    5px 7px 20px --alpha(var(--foreground) / 0.02);

  --shadow-md:
    170px 226px 113px --alpha(var(--foreground) / 0.01),
    96px 127px 95px --alpha(var(--foreground) / 0.02),
    43px 56px 71px --alpha(var(--foreground) / 0.03),
    11px 14px 39px --alpha(var(--foreground) / 0.04);
}

/* 
@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: 0 0% 13%;
    --color-foreground: 0 0% 99%;
    --color-muted: 0 0% 20%;
    --color-muted-foreground: 0 0% 61%;
    --color-border: 0 0% 99%;
    --color-input: 0 0% 99%;
    --color-ring: 0 0% 99%;

    --color-card: var(--color-background);
    --color-card-foreground: var(--color-foreground);
    --color-popover: var(--color-background);
    --color-popover-foreground: var(--color-foreground);

    --color-secondary: var(--color-muted);
    --color-secondary-foreground: var(--color-foreground);
    --color-accent: var(--color-muted);
    --color-accent-foreground: var(--color-foreground);
  }
} */

@layer base {
  :root {
    * {
      @apply border-border;
    }

    body {
      @apply text-foreground font-sans;
      font-optical-sizing: auto;
    }

    strong {
      @apply font-semibold;
    }

    h1 {
      @apply mb-6 scroll-m-20 text-5xl font-[550] tracking-tight text-balance;
    }

    h2 {
      @apply mt-12 mb-4 scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0;
    }

    h3 {
      @apply scroll-m-20 text-xl font-semibold tracking-tight;
    }

    h4 {
      @apply scroll-m-20 text-lg font-semibold tracking-tight;
    }

    p {
      @apply text-secondary-foreground leading-7 [&:not(:first-child)]:mt-6;
    }

    small {
      @apply text-sm leading-none font-medium;
    }

    p > a {
      @apply text-foreground decoration-secondary underline decoration-dashed underline-offset-4;
    }

    @media (prefers-reduced-motion: no-preference) {
      main > *,
      article > * {
        @apply animate-in fill-mode-both fade-in slide-in-from-bottom-4 blur-in-sm block duration-1000 ease-out;
        animation-delay: calc(0.08s * (var(--index) - 1));

        &:nth-child(1) {
          --index: 1;
        }

        &:nth-child(2) {
          --index: 2;
        }

        &:nth-child(3) {
          --index: 3;
        }

        &:nth-child(4) {
          --index: 4;
        }

        &:nth-child(5) {
          --index: 5;
        }

        &:nth-child(6) {
          --index: 6;
        }

        &:nth-child(7) {
          --index: 7;
        }

        &:nth-child(8) {
          --index: 8;
        }

        &:nth-child(9) {
          --index: 9;
        }

        &:nth-child(10) {
          --index: 10;
        }

        &:nth-child(11) {
          --index: 11;
        }

        &:nth-child(12) {
          --index: 12;
        }
      }
    }
  }
}
