---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

import FormattedDate from "../components/FormattedDate.astro";
import Twitter from "~icons/mdi/twitter";
import Email from "~icons/mdi/email";
import Introduction from "../components/Introduction.mdx";
import Writing from "../components/Writing.astro";
import Projects from "../components/Projects.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
  <main
    class="max-w-3xl py-20 m-auto font-sans leading-relaxed text-base text-left"
  >
    <Introduction />
    <Projects />
    <Writing />
  </main>
</BaseLayout>

<style lang="postcss" is:global> 
  main {
    h1 {
      @apply text-4xl -ml-1 font-sans font-bold;
    }

    h2 {
      @apply font-bold text-2xl border-b border-white border-opacity-10 py-4 mb-4;
    }

    p {
      @apply mb-4 block text-opacity-80 text-white leading-relaxed;

      & > a {
        @apply text-opacity-100 text-white border-dashed border-b border-white transition-all duration-150;
        @apply pb-0.5 active:text-opacity-80;
      }
    }

    .social p {
      @apply flex flex-row gap-4 pt-8 pb-4 text-lg;

      a {
        @apply block border-none p-0 opacity-50 hover:opacity-90;
      }
    }
  }
</style>
