---
import BaseLayout from "../layouts/BaseLayout.astro";

import Introduction from "../components/Introduction.mdx";
import Writing from "../components/Writing.astro";
import Projects from "../components/Projects.astro";
import Portfolio from "@components/Portfolio.astro";
---

<BaseLayout>
  <main
    class="max-w-3xl animate-fade-up p-8 pt-16 m-auto font-sans leading-relaxed text-base text-left flex flex-col gap-8"
  >
    <Introduction />
    <Portfolio />
    <Writing />
    <Projects />
  </main>
</BaseLayout>

<style lang="postcss" is:global> 
  main {
    h1 {
      @apply text-4xl -ml-1 font-sans font-bold;
    }

    h2 {
      @apply font-semibold text-2xl border-b dark:border-dark py-4 mb-4;
    }

    p {
      @apply mb-4 block dark:text-subtle-dark text-subtle leading-relaxed;

      & > a {
        @apply dark:text-dark border-dashed border-b dark:border-gray-0 border-gray-900 transition-all duration-150;
        @apply pb-0.5 active:text-opacity-80;
      }
    }

    .social p {
      @apply flex flex-row gap-4 pt-8 pb-4 text-lg;

      a {
        @apply block border-none p-0 opacity-50 hover:opacity-90;
      }
    }
  }
</style>
