---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import "@fontsource/playfair-display";

import Icon from "astro-iconify";
---

<!DOCTYPE html>
<html lang="en" class="w-full h-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <!-- <Header title={SITE_TITLE} /> -->
    <main class="w-full h-full flex">
      <div class="container m-auto text-center">
        <h1 class="text-white blur-[0.5px] text-5xl font-display">
          Tyler Nickerson
        </h1>
        <div class="shapes">
          <div class="icon red" data-name="Founder">
            <Icon name="square" pack="mdi" />
          </div>
          <div class="icon yellow" data-name="Designer">
            <Icon name="triangle" pack="mdi" />
          </div>
          <div class="icon green" data-name="Developer">
            <Icon name="circle" pack="mdi" />
          </div>
        </div>
      </div>
    </main>
    <!-- <Footer /> -->
    <style lang="postcss"> 
  body {
    @apply text-white font-sans w-full h-full; 

    background: url('/static.png') 0 0 repeat, theme('colors.black');
  }

  .shapes {
    @apply flex flex-row gap-8 items-center justify-center py-12 blur-[0.5px];

    .icon {
      --icon-blur: 4px;

      @apply w-10 h-10 relative cursor-pointer;
      
      svg {
        @apply transition-all duration-150;
      }
      
      &:hover {
        --icon-blur: 6px;

        &:after {
          @apply scale-100 opacity-100;
        }
      }

      &:before {
        @apply absolute inset-0 opacity-10;
        content: '';
        background: url('/static.png') 0 0 repeat;
      }

      &:after {
        @apply absolute scale-95 -bottom-8 opacity-0 text-white left-1/2 -translate-x-1/2 text-sm transition-all duration-150;
        content: attr(data-name);
      }

      &.red > svg {
        @apply text-red;
        filter: drop-shadow(0 0 var(--icon-blur) theme('colors.red'));
      }

      &.yellow > svg {
        @apply text-yellow;
        filter: drop-shadow(0 0 var(--icon-blur) theme('colors.yellow'));
      }

      &.green > svg {
        @apply text-green;
        filter: drop-shadow(0 0 var(--icon-blur) theme('colors.green'));
      }
    }
  }
</style>
  </body>
</html>
