---
import BaseLayout from "../layouts/BaseLayout.astro";

import Introduction from "../components/Introduction.mdx";
import Writing from "../components/Writing.astro";
import Projects from "../components/Projects.astro";
---

<BaseLayout>
  <main
    class="max-w-3xl p-8 pt-16 m-auto font-sans leading-relaxed text-base text-left flex flex-col gap-8"
  >
    <Introduction />
    <Writing />
    <Projects />
  </main>
</BaseLayout>

<style lang="postcss" is:global> 
  main {
    h1 {
      @apply text-4xl -ml-1 font-sans font-bold;
    }

    h2 {
      @apply font-bold text-2xl border-b border-black dark:border-white dark:border-opacity-10 py-4 mb-4 border-opacity-10;
    }

    p {
      @apply mb-4 block text-opacity-80 dark:text-opacity-80 text-black dark:text-white leading-relaxed;

      & > a {
        @apply text-opacity-100 dark:text-opacity-100 text-black dark:text-white border-dashed border-b border-black dark:border-white transition-all duration-150;
        @apply pb-0.5 active:text-opacity-80;
      }
    }

    .social p {
      @apply flex flex-row gap-4 pt-8 pb-4 text-lg;

      a {
        @apply block border-none p-0 opacity-50 hover:opacity-90;
      }
    }
  }
</style>
