---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

import FormattedDate from "../components/FormattedDate.astro";
import Twitter from "~icons/mdi/twitter";
import Email from "~icons/mdi/email";
import Introduction from "../components/Introduction.mdx";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
  <main
    class="max-w-xl py-20 m-auto font-sans leading-relaxed text-base text-left"
  >
    <Introduction />

    <h2
      class="font-bold text-2xl border-b border-white border-opacity-10 py-4 mb-4"
    >
      Writing
    </h2>

    <ul>
      {
        posts.map((post) => (
          <li>
            <FormattedDate date={post.data.pubDate} />
            <a href={`/writing/${post.slug}/`}>{post.data.title}</a>
            <p>{post.data.description}</p>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>

<style lang="postcss" is:global> 
  main {
    h1 {
      @apply text-4xl -ml-1 font-sans font-bold;
    }

    p {
      @apply mb-4 block text-opacity-80 text-white leading-relaxed;

      & > a {
        @apply text-opacity-100 text-white border-dashed border-b border-white transition-all duration-150;
        @apply pb-0.5 active:text-opacity-80;
      }
    }

    .social p {
      @apply flex flex-row gap-4 pt-6 pb-2 text-xl;

      a {
        @apply block border-none p-0 opacity-50 hover:opacity-90;
      }
    }
  }
</style>

<style lang="postcss"> 


   ul {
    li {
      @apply py-4 flex flex-col gap-1;

      a {
        @apply block; 
        @apply text-lg font-sans font-semibold mb-0 mt-1;
      }

      p {
        @apply opacity-75 text-base;
      }
    }
  }
</style>
