---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

import FormattedDate from "../components/FormattedDate.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Twitter from "~icons/mdi/twitter";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
  <div
    class="max-w-xl m-auto font-sans leading-relaxed py-4 text-base text-left"
  >
    <h1 class="text-4xl -ml-1 font-sans font-bold">Tyler Nickerson</h1>
    <div class="flex flex-row pt-8">
      <Twitter class="opacity-50" />
    </div>

    <p class="py-4 opacity-80">
      I am a multi-diciplinary entrepreneur, designer, developer living in
      Seattle. Originally hailing from rural Massachusetts, I've been designing
      and building software for the past ten years.
    </p>
    <p class="mb-4 opacity-80">
      Here you'll mostly find my writing, as well as where to find me elsewhere
      on the web.
    </p>
    <button
      class="bg-gradient-to-b mb-4 from-white to-[rgba(255,255,255,0.8)] text-sm text-opacity-95 px-4 py-2 text-black shadow-md rounded-md font-semibold active:scale-[0.99] transition-all duration-150 active:text-opacity-50"
    >
      Contact me
    </button>
    <hr class="opacity-10" />

    <ul>
      {
        posts.map((post) => (
          <li>
            <FormattedDate date={post.data.pubDate} />
            <a href={`/writing/${post.slug}/`}>{post.data.title}</a>
            <p>{post.data.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>

<style lang="postcss"> 
   ul {
    li {
      @apply py-4 flex flex-col gap-1;

      a {
        @apply block; 
        @apply text-lg font-sans font-bold mb-0 mt-1;
      }

      p {
        @apply opacity-75 text-base;
      }
    }
  }
</style>
