---
import me from "../assets/me.jpg";
---

<div class="img">
  <img src={me.src} alt="Selfie" class="grayscale w-full h-full object-fit" />
</div>

<style lang="postcss"> 
  .img {
    @apply rounded-full overflow-hidden w-24 h-24 mb-8 relative shadow-md;

    &:after {
      @apply absolute inset-0 opacity-50;

      background-image: linear-gradient(to bottom right, transparent, theme('colors.green'));
      content:'';
    }
  }
</style>
