---
import { Image } from 'astro:assets';

import me from "../assets/me.png";
---

<div class="img">
  <Image src={me} width="300" height="300" loading="lazy" decoding="async" alt="Selfie" class="grayscale w-full h-full object-cover" />
</div>

<style lang="postcss"> 
  .img {
    @apply rounded-full overflow-hidden w-24 h-24 mb-8 relative shadow-md;

    &:after {
      @apply absolute inset-0 opacity-50;

      background-image: linear-gradient(to bottom right, transparent, theme('colors.green'));
      content:'';
    }
  }
</style>
