---
export type Props = {
  title: string;
  icon?: astroHTML.JSX.Element;
  href?: string;
  variant?: "primary" | "secondary";
  iconPlacement?: "before" | "after";
};

const {
  title,
  icon: Icon,
  href,
  variant = "primary",
  iconPlacement = "before",
} = Astro.props;

const Tag = href ? "a" : "button";
---

<Tag
  class="btn"
  class:list={[
    {
      "btn-primary": variant === "primary",
      "btn-secondary": variant === "secondary",
      "flex-row-reverse": iconPlacement === "after",
    },
  ]}
  href={href}
>
  {Icon && <Icon />}
  <span class="mt-[2px]">{title}</span>
</Tag>

<style lang="postcss"> 
  .btn {
    @apply inline-flex gap-2 flex-row items-center text-sm px-4 py-2 rounded-lg;
    @apply active:scale-[0.99] transition-all duration-150 active:opacity-50 cursor-pointer;

    &-secondary {
      @apply dark:text-dark dark:text-opacity-75 text-opacity-75;

      &:active {
        @apply scale-[0.99] opacity-50;
      }

      &:hover {
        @apply dark:bg-gray-800 dark:text-opacity-90 text-opacity-90 bg-gray-100;
      }
    }

    &-primary {
      @apply dark:bg-gray-0/10 dark:text-dark bg-gray-900/5 cursor-pointer font-medium;
    }
  }
</style>
