---
import HeaderLink from "./HeaderLink.astro";

import { SITE_TITLE } from "../consts";

import EmailIcon from "~icons/mdi/email-outline";
---

<header
  class="z-50 bg-background bg-opacity-60 backdrop-blur-md flex w-full flex-row justify-between items-center p-4"
>
  <h2>
    <a
      href="/"
      class="font-display text-lg flex flex-row items-center justify-start gap-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        fill="none"
        viewBox="0 0 22 22"
      >
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="M3.07 0A3.07 3.07 0 0 0 0 3.07v15.86A3.07 3.07 0 0 0 3.07 22h15.86A3.07 3.07 0 0 0 22 18.93V3.07A3.07 3.07 0 0 0 18.93 0H3.07Zm8.186 17.846a1.85 1.85 0 0 0 .063-.533V15.48c.72.335 1.426.695 2.115 1.081.7.387 1.415.8 2.146 1.238.147-.24.282-.454.408-.642.125-.188.271-.387.438-.596a62.313 62.313 0 0 1-.72-.329 23.7 23.7 0 0 0-.862-.376c-.292-.135-.6-.266-.924-.391l-.909-.392c.366-.386.648-.668.846-.846.198-.178.366-.298.501-.36.147-.073.225-.126.235-.157.01-.042-.031-.084-.125-.125a4.381 4.381 0 0 1-.642-.345 9.16 9.16 0 0 1-.643-.47 7.577 7.577 0 0 1-.47.909c-.188.313-.417.652-.689 1.018-.136-.052-.261-.1-.376-.141a2.615 2.615 0 0 0-.329-.125v-1.802c0-.261.068-.47.204-.627.115-.135.167-.224.156-.266-.01-.052-.115-.068-.313-.047a4.88 4.88 0 0 1-.674.016 5.275 5.275 0 0 1-.736-.094c.042.24.073.532.094.877.02.334.031.726.031 1.175v3.149c0 .209-.094.345-.282.407-.188.063-.58.053-1.175-.031.21.272.355.522.439.752.084.23.13.496.141.799.49-.084.872-.167 1.144-.25.282-.074.49-.163.626-.267a.696.696 0 0 0 .282-.376Zm-2.444-1.66c.324-.136.622-.257.893-.361a1.877 1.877 0 0 1-.062-.486c0-.177.01-.412.031-.705-.24.136-.533.277-.877.423-.345.147-.721.293-1.128.439-.408.146-.836.287-1.285.423-.45.125-.893.235-1.332.329.157.24.288.47.392.69.104.219.214.47.329.751.313-.188.642-.376.987-.564a32.824 32.824 0 0 1 2.052-.94Zm-1.41-1.693c.147.178.298.397.455.658l1.08-.783c-.208-.23-.386-.428-.532-.595a8.494 8.494 0 0 1-.454-.611l-1.066.767c.199.188.371.376.517.564Zm.768-2.49c.261-.324.517-.664.768-1.019h3.697c.282.439.57.83.862 1.175.303.334.626.642.971.924.355.282.736.543 1.144.784.417.24.872.475 1.363.705.083-.272.219-.538.407-.8.198-.26.386-.495.564-.704a7.243 7.243 0 0 1-1.269-.298 9.59 9.59 0 0 1-1.16-.47 7.077 7.077 0 0 1-.986-.595 4.395 4.395 0 0 1-.737-.721 73.062 73.062 0 0 1 3.572.125V9.825l-.924.062a195.9 195.9 0 0 1-2.146.063h-4.7c.094-.167.188-.35.282-.548.104-.199.198-.397.282-.596h1.958c.815 0 1.546.01 2.193.032.658.02 1.233.052 1.724.094V7.647c-.491.031-1.066.063-1.724.094-.647.02-1.378.031-2.193.031h-1.535c.073-.167.135-.323.188-.47a6.74 6.74 0 0 0 .172-.485c1.285 0 2.381.015 3.29.047.92.02 1.739.057 2.46.11V5.578c-.68.052-1.452.089-2.319.11-.856.02-1.875.036-3.055.047.104-.261.198-.48.282-.658.084-.178.151-.282.204-.314.073-.052.11-.094.11-.125 0-.042-.042-.057-.126-.047a3.2 3.2 0 0 1-.439 0c-.156-.02-.323-.042-.501-.063a8.313 8.313 0 0 1-.501-.078 8.87 8.87 0 0 1-.455-.125c.01.501-.005.971-.047 1.41a176.43 176.43 0 0 1-2.835-.047 90.401 90.401 0 0 1-2.194-.11v1.394a37.761 37.761 0 0 1 2.1-.11c.773-.02 1.681-.036 2.726-.046-.063.282-.152.6-.267.955-.814 0-1.545-.01-2.193-.031-.648-.031-1.217-.063-1.708-.094v1.285a44.1 44.1 0 0 1 1.52-.079 104.3 104.3 0 0 1 1.943-.047 8.022 8.022 0 0 1-.33.596c-.104.188-.208.37-.313.548H7.026a308.028 308.028 0 0 1-1.99-.063l-.877-.062v1.284a24.376 24.376 0 0 1 1.536-.078c.522-.02 1.138-.037 1.848-.047a9.92 9.92 0 0 1-1.864 1.77c-.679.491-1.332.836-1.958 1.034.46.335.856.71 1.19 1.128.512-.355.961-.694 1.348-1.018a14.2 14.2 0 0 0 1.065-.956c.313-.313.595-.626.846-.94Z"
          clip-rule="evenodd"></path>
      </svg>
      {SITE_TITLE}
    </a>
  </h2>
  <nav class="flex flex-row justify-center items-center gap-4">
    <HeaderLink href="/code">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="10"
        fill="none"
        viewBox="0 0 16 10"
      >
        <path
          fill="currentColor"
          d="M5.92 8.68 2.24 5l3.68-3.68L4.8.2 0 5l4.8 4.8 1.12-1.12Zm4.16 0L13.76 5l-3.68-3.68L11.2.2 16 5l-4.8 4.8-1.12-1.12Z"
        >
        </path>
      </svg>
      <span>Code</span>
    </HeaderLink>

    <HeaderLink href="/blog">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="none"
        viewBox="0 0 16 16"
      >
        <circle cx="6.333" cy="9.667" r="6.333" fill="currentColor"></circle>
        <circle
          cx="9.667"
          cy="6.333"
          r="6"
          stroke="currentColor"
          stroke-width=".667"
        >
        </circle>
      </svg>
      <span>Design</span>
    </HeaderLink>

    <HeaderLink href="/about">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="none"
        viewBox="0 0 16 16"
      >
        <path fill="currentColor" d="M0 1.5h16v3H0zm0 5h12v3H0zm0 5h8v3H0z"
        ></path>
      </svg>
      <span>Writing</span>
    </HeaderLink>

    <a
      href="mailto:tyler@linguistic.io"
      target="_blank"
      rel="noopener noreferrer"
      class="rounded-md bg-gradient-to-b flex flex-row items-center justify-center gap-2 from-white to-gray-light px-4 font-medium active:scale-[0.99] transition-all duration-150 active:text-opacity-75 py-2 text-sm text-black"
    >
      <EmailIcon class="w-4 h-4" />
      Contact
    </a>
  </nav>
</header>

<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
