---
import Button from "./Button.astro";
---

<form method="POST">
  <h1>Password Required</h1>
  <p>To view this page, you'll need to enter a password.</p>
  <input placeholder="Password" type="password" name="password" required />
  <footer>
    <Button title="Go back" />
    <Button title="Submit" />
  </footer>
</form>

<style lang="postcss">
  @keyframes fallIn {
    0% {
      transform: scale(0.98);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  footer {
    @apply flex flex-row justify-end items-center;
  }

  form {
    @apply bg-gray-200 dark:bg-gray-800 rounded-lg z-50 relative;
    @apply dark:border-dark border;
    @apply p-4;

    animation: fallIn 0.3s ease-in-out;

    h1 {
      @apply font-medium mb-1;
    }

    p {
      @apply opacity-75 text-sm mr-16;
    }

    input[type="password"] {
      @apply rounded-lg dark:bg-gray-800 px-4 py-2 w-full my-4 outline-none border border-clear;
      @apply transition-all duration-300 ease-in-out;
    }
  }
</style>
