---
import Button from "./Button.astro";

import Lock from "~icons/mdi/lock";
---

<form method="POST">
  <h1>Password Required</h1>
  <p>To view this page, you'll need to enter a password.</p>
  <div class="pw">
    <span class="icon">
      <Lock />
    </span>
    <input placeholder="Password" type="password" name="password" required />
  </div>
  <footer>
    <Button variant="secondary" href="/" title="Go back" />
    <Button title="Submit" />
  </footer>
</form>

<style lang="postcss">
  @keyframes fallIn {
    0% {
      transform: translateX(-50%) translateY(-50%) scale(0.98);
      opacity: 0;
    }

    100% {
      transform: translateX(-50%) translateY(-50%) scale(1);
      opacity: 1;
    }
  }

  @keyframes pushUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  footer {
    @apply flex flex-row justify-end items-center;
  }

  form {
    @apply bg-gray-0 dark:bg-gray-800 z-50 relative;
    @apply dark:border-subtle-dark border-subtle-light border-t;
    @apply p-4;
    @apply absolute bottom-0 w-full rounded-t-2xl lg:rounded-lg;
    
    animation: pushUp 0.3s ease-in-out;

    @media screen('lg') {
      @apply border top-1/2 left-1/2 bottom-auto w-auto;

      animation: fallIn 0.3s ease-in-out both;
    }

    h1 {
      @apply font-medium mb-1;
    }

    p {
      @apply opacity-75 text-sm mr-16;
    }

    .pw {
      @apply rounded-lg dark:bg-gray-800 px-4 py-2 w-full my-4 border border-subtle-light dark:border-subtle-dark;
      @apply transition-all duration-300 ease-in-out;
      @apply dark:bg-gray-700 bg-gray-100;
      @apply flex flex-row justify-start items-center gap-4;
      @apply placeholder:text-subtle dark:placeholder:text-subtle-dark;

      .icon {
        @apply text-subtle dark:text-subtle-dark transition-colors duration-300; 
      }

      input {
        @apply bg-clear outline-none flex-grow;
      }

      &:focus-within {
        @apply border-emphasis-light dark:border-emphasis-dark;

        .icon {
          @apply dark:text-dark;
        }
      }
    }
  }
</style>
