<span class="pill"><slot /></span>

<style lang="postcss"> 
  .pill {
    @apply flex flex-row items-center gap-2 mt-8 text-sm px-4 py-2 rounded-full;
    @apply text-opacity-75 dark:text-dark dark:text-opacity-75;
    @apply border border-gray-200 dark:border-gray-700;
    @apply dark:bg-gray-800;
  }
</style>
