---
import { getCollection } from "astro:content";

import CaseStudy from "./CaseStudy.astro";

const posts = (await getCollection("caseStudy")).sort(
  (a, b) => b.data.year.valueOf() - a.data.year.valueOf()
);
---

<div>
  <h2>Case Studies</h2>
  <ul>
    {
      posts.map((item) => (
        <li>
          <CaseStudy item={item} />
        </li>
      ))
    }
  </ul>
</div>

<style lang="postcss"> 
  ul {
    @apply grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-4 w-full;
  }
</style>
