---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const posts = (await getCollection("caseStudy")).sort(
  (a, b) => b.data.year.valueOf() - a.data.year.valueOf()
);
---

<div>
  <h2>Case Studies</h2>
  <ul>
    {
      posts.map(({ data: { title, image }, slug }) => (
        <li>
          <a data-astro-prefetch="hover" href={`/portfolio/${slug}/`}>
            <Image alt={title} src={image} />
            {title}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style lang="postcss"> 
  ul {
    @apply grid grid-cols-2;
  }

  a {
    @apply dark:bg-gray-800 bg-gray-100 rounded-lg;
    @apply p-4 block;
    @apply border dark:border-dark;
    /* @apply hover: */
  }     
</style>
