---
import { getCollection } from "astro:content";

import Project from "./Project.astro";

import { ICONS } from "../consts";

const projects = await getCollection("projects");
---

<div>
  <h2>Projects</h2>

  <ul
    class="grid gap-4"
    style="grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));"
  >
    {
      projects
        .sort((a, b) => a.data.order - b.data.order)
        .map(({ data: project }) => (
          <Project
            href={project.url}
            title={project.title}
            icon={ICONS[project.icon]}
            tagline={project.tagline}
          />
        ))
    }
  </ul>
</div>
