---
import { getCollection } from "astro:content";

import FormattedDate from "@components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<div>
  <h2>Thoughts</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>
            <FormattedDate date={post.data.pubDate} />
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style lang="postcss"> 
  a {
    @apply block; 
    @apply text-lg font-sans font-normal mb-0 mt-1 py-4 rounded-lg px-4 flex flex-col gap-1;
    @apply transition-all duration-75;
    @apply -mx-4;

    &:hover {
      @apply dark:bg-white dark:bg-opacity-[0.03] bg-black bg-opacity-[0.03];
    }

    &:active {
      @apply opacity-50;
    }
  }     
</style>
