---
import BaseHead from "../components/BaseHead.astro";

export interface Props {
  title?: string;
  description?: string;
  type?: 'website' | 'article';
}

import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";

const { title = SITE_TITLE, description = SITE_DESCRIPTION, type } = Astro.props;
---

<html lang="en" class="w-full h-full">
  <head>
    <BaseHead title={title} description={description} type={type} />
    <style lang="postcss" is:global> 
        body {
          @apply w-full h-full flex flex-col text-black dark:text-white font-sans;
        
          @media (prefers-color-scheme: dark) {
            background: url('/static.png'), theme('colors.black');
          }

          @media (prefers-color-scheme: light) {
            background: url('/static-lm.png'), theme('colors.white');
          }
        }
    </style>
  </head>
  <body>
    <slot />
    <footer class="text-xs opacity-50 text-center py-8">
      Copyright {new Date().getFullYear()} Tyler Nickerson
    </footer>
  </body>
</html>
