---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<html lang="en" class="w-full h-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Inter:wght@400;500&family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
    <style lang="postcss"> 
      body {
        background: url('/static.png') 0 0 repeat, theme('colors.black');
      }
  </style>
  </head>
  <body class="w-full h-full flex flex-col text-white font-sans">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
