---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import "@fontsource/baskervville/400.css";
import "@fontsource/baskervville/400-italic.css";

import "@fontsource/fira-code/400.css";
import "@fontsource/fira-code/500.css";

import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";

import "@fontsource/playfair-display/400.css";
---

<html lang="en" class="w-full h-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="postcss" is:global> 
      body {
        background: url('/static.png') repeat 0 0, theme('colors.background');
      }

      .btn-primary {
        @apply rounded-md flex flex-row items-center justify-center gap-2 px-4 font-medium active:scale-[0.99] transition-all duration-150 active:text-opacity-75 py-2 text-sm text-white;
        background-image: linear-gradient(to bottom right, #4B4A4A, theme('colors.black'));
      }

      .btn-secondary {
        @apply text-sm text-black opacity-50 flex flex-row justify-center items-center gap-2;

        &:hover {
          @apply opacity-100;
        }
      }
  </style>
  </head>
  <body class="w-full h-full flex flex-col bg-background text-black font-sans">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
