---
import BaseHead from "../components/BaseHead.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
---

<html lang="en" class="w-full h-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="postcss" is:global> 
      body {
        @apply text-white;
        background: url('/static.png'), theme('colors.background');
      }
  </style>
  </head>
  <body class="w-full h-full flex flex-col bg-background text-white font-sans">
    <slot />
    <footer class="text-xs opacity-50 text-center py-8">
      Copyright {new Date().getFullYear()} Tyler Nickerson
    </footer>
  </body>
</html>
